page-home {
  #banner{
    width:100%;
    color:white;
    text-align: center;
    text-transform: uppercase;

    h2{
      margin:0;
      font-weight: bold;
      padding:30px 10px;

    }
    img{
      max-width:70px;
      height:auto;
    }
  }
}
