<ion-header>
  <ion-navbar>
    <ion-title>
      Parkhäuser Konstanz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <div id="banner">
    <h2 *ngIf="status == 'red'" style="background-color:#f53d3d">Fahr mit dem Fahrrad</h2>
    <h2 *ngIf="status == 'yellow'" style="background-color:yellow;color:black">Einige Parkplätze frei</h2>
    <h2 *ngIf="status == 'green'" style="background-color:#32db64">Auto ist okay</h2>

  </div>
  <br>

  <ion-list>
    <ion-item *ngFor="let park of parken">
      <ion-icon item-start *ngIf="park.status == 'red'" ><img src="assets/imgs/auto_rot.png" style="width:50px;"></ion-icon>
      <ion-icon item-start *ngIf="park.status == 'yellow'" ><img src="assets/imgs/auto_gelb.png" style="width:34px;margin:8px 8px;"></ion-icon>
      <ion-icon item-start *ngIf="park.status == 'green'" ><img src="assets/imgs/auto_gruen.png" style="width:50px;"></ion-icon>

      {{park.name}}
      <ion-note item-end>
        <strong>{{park.frei}}</strong> <span style="font-size:10px;">/ {{park.kapazitaet}}</span>
        <ion-badge color="danger" *ngIf="park.tendenz == 'zunehmend'"><ion-icon name="md-trending-up"></ion-icon></ion-badge>
        <ion-badge color="secondary" *ngIf="park.tendenz == 'abnehmend'"><ion-icon name="md-trending-down"></ion-icon></ion-badge>
        <ion-badge color="light" *ngIf="park.tendenz == 'gleichbleibend'"><ion-icon name="md-remove"></ion-icon></ion-badge>
        <ion-badge *ngIf="park.tendenz == 'unbekannt'"><ion-icon name="md-help-cicle"></ion-icon></ion-badge>
      </ion-note>
    </ion-item>

    <br><br>
    <ion-list-header>
      Gesamt
    </ion-list-header>
    <ion-item>
      Kapazität
      <ion-note item-end>{{gesamtKapazitaet}}</ion-note>
    </ion-item>
    <ion-item>
      Frei
      <ion-note item-end>{{gesamtFrei}}</ion-note>
    </ion-item>
    <br><br>
    <ion-list-header>
      Park'n'Ride Parkplätze
    </ion-list-header>

    <ion-item *ngFor="let park of parknride">
      <ion-icon item-start *ngIf="park.status == 'red'" ><img src="assets/imgs/auto_rot.png" style="width:50px;"></ion-icon>
      <ion-icon item-start *ngIf="park.status == 'yellow'" ><img src="assets/imgs/auto_gelb.png" style="width:50px;"></ion-icon>
      <ion-icon item-start *ngIf="park.status == 'green'" ><img src="assets/imgs/auto_gruen.png" style="width:50px;"></ion-icon>

      {{park.name}}
      <ion-note item-end>
        <strong>{{park.frei}}</strong> <span style="font-size:10px;">/ {{park.kapazitaet}}</span>
        <ion-badge color="danger" *ngIf="park.tendenz == 'zunehmend'"><ion-icon name="md-trending-up"></ion-icon></ion-badge>
        <ion-badge color="secondary" *ngIf="park.tendenz == 'abnehmend'"><ion-icon name="md-trending-down"></ion-icon></ion-badge>
        <ion-badge color="light" *ngIf="park.tendenz == 'gleichbleibend'"><ion-icon name="md-remove"></ion-icon></ion-badge>
        <ion-badge *ngIf="park.tendenz == 'unbekannt'"><ion-icon name="md-help-cicle"></ion-icon></ion-badge>
      </ion-note>
    </ion-item>

  </ion-list>
</ion-content>
